header
  nav.navbar.navbar-dark.shadow-sm(style="background:" + config.uicolour)
    .container.d-flex.justify-content-between
      a.navbar-brand.d-flex.align-items-left
        //- Including the svg logo
        img(src="../../"+config.uilogo style="max-height:2rem;margin-right:3rem")
        strong #{config.uiwords}
